.menu{
    background:slateblue;
    padding:0;
    margin:0;
    margin-bottom:30px;
}
.lista{
    display:flex;
    padding:0;
    margin:0;
    text-align:center;
    list-style:none;
}
.link{
    display:block;
    padding:5px;
    margin:10px;
    text-decoration:none;
    color:white;
}